project:
  type: website
  resources:
      - CNAME
  render:
    - nbs/ImportError_dll_load_failed_while_importing_cv2.ipynb
    #- nbs/opencv4-cuda-streams.ipynb
    - nbs/opencv_cuda_streams_performance_python.ipynb
    #- nbs\opencv_delay_jit_or_context_creation.ipynb
    - "*.html"
    - "*.qmd"


website:
  title: cudawarped
  repo-url: https://github.com/cudawarped/opencv-experiments/
  repo-actions: [issue]
  favicon: imgs\favicon-32x32.png
  back-to-top-navigation: true
  google-analytics: "G-69X21EFRB2"
  open-graph: true
  navbar:
    tools:
    - icon: github
      href: https://github.com/cudawarped
    background: light
    logo: imgs\profile_1-e1674474909304.webp
    search: true
    left:
      - text: "About"
        file: qmd\about.qmd
      #- text: "Home"
      #  file: index.qmd
      - text: "OpenCV"
        file: index.qmd
      - text: "Downloads"
        #href: qmd/downloads.qmd
        menu:
          - text: "OpenCV"
            file: qmd/downloads.qmd
          - text: OpenCV Python CUDA wheels
            href: https://github.com/cudawarped/opencv-python-cuda-wheels/releases
          - text: OpenCV C++ CUDA builds 
            href: https://github.com/cudawarped/opencv_contrib/releases
      #    - https://github.com/cudawarped/opencv-python-cuda-wheels/releases
      #- text: "How-To"
      #  file: howto.qmd

  sidebar:
    - title: OpenCV
      style: "floating"
      #type: "dark"
      #background: light
      #contents: auto
      contents:
        - index.qmd
        - text: "Build OpenCV (including Python) with CUDA on Windows"
          file: qmd\opencv_cuda_python_windows.qmd
        - text: "Accelerate with CUDA streams in Python"
          file: nbs\opencv_cuda_streams_performance_python.ipynb
        - text: "ImportError: DLL load failed..."
          file: nbs\ImportError_dll_load_failed_while_importing_cv2.ipynb
        #- text: "OpenCV CUDA initialization delay"
        #  file: nbs\opencv_delay_jit_or_context_creation.ipynb
        - text: "CUDA Performance Comparisson"
          file: qmd\opencv_cuda_performance.qmd
      #  - text: "Import dll load failed while importing cv2"
      #    file: nbs\ImportError_dll_load_failed_while_importing_cv2.ipynb
        
        #- tutorial1.qmd
        #- tutorial2.qmd

    - title: "How-To"
      contents:
        - howto.qmd
        # navigation items

    - title: "Fundamentals"
      contents:
        - fundamentals.qmd
        # navigation items

    - title: "Reference"
      contents:
        - reference.qmd
        # navigation items

format:
  html:
    smooth-scroll: true
    theme: 
      light: cosmo
      dark: cyborg
    page-layout: full
    grid:
      sidebar-width: 330px
      body-width: 1000px
    #css: style.css
     #- custom.scss
    #navbar: navbar-light
    #backgroundcolor: red
    #css: custom.scss
    toc: false
    link-external-newwindow: true
    link-external-icon: false
    linkcolor: "#76b900"
